    {% include('shop/layout/header.twig')%}

        <!-- Breadcrumb-area -->
        <div class="breadcrumb-area bg-gray">
            <div class="container">
                <div class="breadcrumb-content text-center">
                    <ul>
                        <li><a href="{{BASE_URL}}index">{{lang('home')}}</a></li>
                        <li class="active">{{lang('about_us')}}</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- End Breadcrumb-area -->


        <!-- ABOUT -->
        <section class="about-us-area pt-120 pb-120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-3">
                        <div class="about-us-logo">
                            <img src="assets/shop/images/logo/mbay.svg" alt="logo">
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-9">
                        <div class="about-us-content">
                            <h3>About Us</h3>
                            <p>
                                Get the latest tech products at affordable prices at mbay in Oman! Our electronics store offers a wide range of mobile phones, accessories, wearable devices, and tablets. Enjoy convenient online shopping and find the best deals for your next tech upgrade.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END ABOUT -->


    {% include('shop/layout/footer.twig')%}