    {% include('shop/layout/header.twig')%}

        <!-- Breadcrumb-area -->
        <div class="breadcrumb-area bg-gray">
            <div class="container">
                <div class="breadcrumb-content text-center">
                    <ul>
                        <li><a href="{{BASE_URL}}index">{{lang('home')}}</a></li>
                        <li class="active">{{lang('contact_us')}}</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- End Breadcrumb-area -->

        <!-- CONTACT -->
        <section class="contact-area pt-120 pb-120 bg-white">
            <div class="container">
                <div class="contact-info-wrap-3 pb-85">
                    <h3>contact info</h3>
                    <div class="row">

                        <div class="col-lg-6 col-md-4">
                            <div class="single-contact-info-3 text-center mb-30">
                                <i class="icon-location-pin"></i>
                                <h4>{{lang('location')}}</h4>
                                <p>Souq Street, As Sib, Muscat</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-4">
                            <div class="single-contact-info-3 text-center mb-30">
                                <i class="icon-screen-smartphone"></i>
                                <h4>Customer Support</h4>
                                <p><a href="https://wa.me/96895469799" target="_blank" title="Customer Support">+968 95469799</a></p>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </section>
        <!-- END CONTACT -->

    {% include('shop/layout/footer.twig')%}
