    {% include('shop/layout/header.twig')%}

        <!-- Breadcrumb-area -->
        <div class="breadcrumb-area bg-gray">
            <div class="container">
                <div class="breadcrumb-content text-center">
                    <ul>
                        <li><a href="{{BASE_URL}}index">{{lang('home')}}</a></li>
                        <li class="active">{{lang('warranty')}}</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- End Breadcrumb-area -->


        <!-- ABOUT -->
        <section class="about-us-area pt-120 pb-120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h3>Warranty Policy</h3>
                        <ul class="ul-list">
                            <li>The warranty covers only the handset for one year from the date of purchase</li>
                            <li>Warranty is valued in Oman only</li>
                            <li>The warranty covers the repair of any manufacturing defect</li>
                            <li>Presentation of the warranty card and in voice showing the date of purchase</li>
                            <li>The warranty will not cover any defect arising from using any non approved accessories or ancillary item attached to or in connection with the headset</li>
                            <li>Warranty will be treated as cancelled if the device is previouly opened, repaired or Software updated at any place other than company service centers.</li>
                            <li>The warranty will be treated as cancelled in case of headset, breakage. Scraches, liquid damages, rust, burn, or any damage resulting from excess temperature or excess humidity or power surges in electric power supply.</li>
                            <li>A defect arising as a result of failure to follow the user guide will not be cover by</li>
                            <li>In case of any manufacturing defect which is beyond repair, only the mother board of the handset will be replaced.</li>
                            <li>No gurantee for any defect due to software download, virus and application</li>
                            <li>Warranty covers handset only (Battery, Charger, Memory Card, Keypad, Covers, Handset or any other similar accessories are not include in this warranty)</li>
                            <li>Warranty does not cover Display and Touch screen of the device.</li>
                            <li>Warranty will be considered as cancelled incase or downloading unlicensed Software (jail breaking, Rooting etc... ...)</li>
                            <li>Warranty does not cover and data saved in device. The company is not Responsible for any sort of data (Contacts, message, ringtones, images, games, Application etc...) Loss which may occurred at any stage of servicing handset, it is the sole responsibility of the customer to keep appropriate back up for the same</li>
                            <li>Hard disc no warranty</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- END ABOUT -->


    {% include('shop/layout/footer.twig')%}